#post
{
  font-size: 1.2rem;
}

.title
{
  color: #434c5e;
  font-size: 4rem;
  font-weight: bold;
}

// Scuffed solution for getting some padding at the end of posts, when you're on a deadline you have to improvise
.padder
{
  padding-bottom: 500px;
}
